:root{
    --card-leftimage-rightlabel-height:64px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 90%;
      height:var(--card-leftimage-rightlabel-height);
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      background-color: aliceblue;
}
img{
    width:var(--card-leftimage-rightlabel-height);
    border-radius: 5px 0 0 5px;
    background-color: red;
}
.cardcontainer{
    margin-left:10px;
    width:100%;
    height:var(--card-leftimage-rightlabel-height); 
    display: flex;
    flex-direction: column ;
    justify-content:  center;
}
.cardtext{
    color:black;
    justify-content:  center;
}

#main-container{
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;

}